.button {
    color: white;
    border-radius: 0;
    border: none;
    display: inline-block;
    padding: $s-size;
    font-size: $m-size;
    font-weight: 300;
    background-color: $blue;
    text-decoration: none;
    line-height: 1;

    &--link {
        background-color: transparent;
    }

    &--secondary {
        background-color: #888888;
    }
}