.header {
    background-color: $dark-blue;

    a {
        text-decoration: none;
        color:white;
        
        h1 {
            margin: 0;
        }
    }

    &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: $s-size 0;
    }
}