.input-group {
    display: flex;
    margin-bottom: $m-size;
    flex-direction: column;
    align-items: center;

    @media(min-width: $desktop-br){
        flex-direction: row;
        margin-bottom: $l-size;
    }

    &__item {
        margin-bottom: $s-size;

        @media(min-width: $desktop-br){
            margin: 0 $s-size 0 0;
        }
    }

}