.list-header {
    background-color: $faint-gray;
    border: 1px solid darken($faint-gray, 7%);
    color: $gray;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-body {
    margin-bottom: $m-size;
    @media (min-width: $desktop-br) {
        margin-bottom: $l-size;
    }
}

.list-item {
    border: 1px solid darken($faint-gray, 7%);
    border-top: none;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;

    &:hover {
        background: $faint-gray;
    }

    @media (min-width: $desktop-br) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }

    &__title {
        margin: 0;
        word-break: break-all;
    }

    &__subtitle {
        color: $gray;
        font-size: 1.4rem;
    }

    &__data {
        margin: $s-size 0 0 0;

        @media (min-width: $desktop-br) {
            margin: 0;
            padding-left: $s-size;
        }
    }

    &--message {
        align-items: center;
        justify-content: center;
        color: $gray;
        padding: $m-size;
        &:hover {
            background: none;
        }
    }
}