//colors
$dark-gray: #333333;
$faint-gray:  #f7f7f7;
$gray: #666666;
$blue: #1c88bf;
$dark-blue: #364051;
//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size:  3.2rem;
$xl-size: 4.8rem ;

$desktop-br: 45rem;

